*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
}
.header{
  height: 80px;
  background: #000000;
  padding: 0 20px;
  color: #fff;
}
.logo{
padding: 10px 0px;


}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #fff;
  height: 100vh;
  line-height: 1.6;
  overflow: hidden;
  /* CSS Smooth Scroll */
  overflow-y: scroll; 
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
.menu{
  float: right;
  line-height: 80px;
}
.menu a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}
.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.show-menu-btn{
  float: right;
}
.show-menu-btn i{
  line-height: 80px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
  color: rgb(253, 154, 0);
}

#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}


@media screen and (max-width:800px) {
  .show-menu-btn,.hide-menu-btn{
    display: block;
  }
  .menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000000;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }
  .menu a{
    display: block;
    padding: 20px;
  }
  .hide-menu-btn{
    position: absolute;
    top: 20px;
    right: 40px;
  }
  #chk:checked ~ .menu{
    right: 0;
  }
}
/*Content*/
#home {
  height:100%;
  width:100%;
  background-image: url(../img/f1.jpg);
  background-color: #333;
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
}

#gallery {
  height: 100%;
  width:100%;
  background-image: url(../img/fu.jpg);
  background-color: #333;
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
}


#news {
  height: 100%;
  width:100%;

  background-color: #000;
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  
}
/*Gallery*/
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: auto;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
* {
  box-sizing: border-box;
}

.responsive {
  width: 49.99999%;
  margin: 6px 25%;
}
.imgcontainer
{
  width: 55%;
  position: absolute;
  top: 70%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.imgcontainer2
{

  position: absolute;
  top: 70%;
  left: 90%;
  transform: translate(-50%, -50%);
}
/*adjustments */




@media only screen and (max-width: 910px) {
  .responsive {
    width: 49.99999%;
    margin: 0 25%;
  }
  /*.imgcontainer
  {
  margin: 0 25%;
  }*/

}
@media only screen and (max-width: 900px) {
  .responsive {
    width: 100%;
    margin: 0 0%;
  }
}


